<div id="draftview" class="container">
		<h3>This text is currently a private draft</h3>
		<p>Depending on the state of a transcriptions, editors will often designate their text as a "draft". This means that, while an edition or transcription, has been started it is not yet ready to be viewed by the public. Often an editor will allow and interested reader access to the text, with the understanding that the text is a work in progress.</p>
		<% if !user_signed_in? %>
			<p>To view this text you will need to first create a user account. Then you can return and request permission.</p>
		<% else %>
			<h3> To request draft permissions for this text, please tell the editor a little about yourself and your interest in this text. </h3>
			<%= form_for(:access_request, url: access_requests_path, method: :post) do |f| %>
	 			<div class="field">
	 			<%= f.hidden_field :user_id, :value => current_user.id %>
			  <%= f.hidden_field :itemid, value: params[:itemid] %>
			  <%= f.hidden_field :commentaryid, value: @config.commentaryid %>
			  </div>
			  <div class="field">
			    <%= f.text_area :note, :class => 'ckeditor' %>
			  </div>
			  <div class="actions">
			    <%= f.submit %>
			  </div>
			<% end %>
		<% end %>
</div>
