<div id="lbp-item-status-container" class="container">
  <% unless @manifestations.count ==  0 %>
    <h3>Available transcriptions for <%= @title %></h3>
    <% @manifestations.each do |result| %>
      <p><%= result[:manifestation_title] %></p>
      <table class="table table-striped table-hover">
      <% result[:transcriptions].each do |transcript| %>
        <tr>
          <td><a href="<%= transcript[:transcript_link] %>"><%=  transcript[:transcript_title] %></a></td>
          <td><%= "type: #{transcript[:transcript_type]}" %></td>
          <td><%= "status: #{transcript[:transcript_status]}" %></td>
          <td><a href="/text/pdf?id=<%= transcript[:transcript] %>">PDF</td>
        </tr>
      <% end %>
      </table>
    <% end %>
  <% else %>
    <div style="text-align: center; height: 400px; margin-top: 100px">
      <h4>Sorry this text has not been started. <%= link_to "Return to Table of Contents", table_of_questions_path %></h4>
    </div>
  <% end %>
</div>
