<% if current_user.admin? %>
<div class="container">
	<h1>Users</h1>
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<td>Email</td>
				<td>Role</td>
			</tr>
		</thead>
		<tbody>
			<% @users.each do |user| %>
				<tr>
					<td><%= link_to user.email, users_profile_path(user) %></td>
					<td><%= user.role %></td>
					<td><%= user.created_at %></td>
					
					<td><%= link_to "Destroy", destroy_users_profile_path(user), method: :delete %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
<div class="container">
	<p>As admin, you can create a new user </p>
	<%= form_for(:profile, url: :create_users_profile) do |f| %>
	  <div class="field">
	    <%= f.label :email %><br />
	    <%= f.email_field :email, autofocus: true %>
	  </div>
		<div class="field">
	    <%= f.label :password %>
	    <br />
	    <%= f.password_field :password, autocomplete: "off" %>
	  </div>
	  <div class="role">
	    <%= f.label :role %>
	    <br />
	    <%= f.text_field :role, autocomplete: "off" %>
	  </div>
		<div class="actions">
			<br />
	    <%= f.submit "Create User" %>
	  </div>
	<% end %>
</div>
<% else %>
<p>You are not authorized to view the profiles list</p>
<% end %>

		