<div class="container center">
	<h1><%= @user.email %></h1>
	<p><%= @user.role %></p>
	<p><%= @user.created_at %></p>

	
	<% if @user.texts.count > 0 && current_user.admin? %>
		<p>Has individual access to</p>
		<table class="table table-striped table-hover">
			<% @user.texts.each do |text| %>
				<tr>
					<td><%= text.itemid %></td>
					<td>Remove</td>
				</tr>
			<% end %>
		</table>

		<form>
			<input type="input" placeholder="add"></input>
			<input type="submit"/>
		</form>
	<% end %>
	<p><%= link_to "Edit Profile", '/users/edit' %></p>
</div>
		