<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.email %> You've been invited to alpha test the new LombardPress rebuild</h1>
    <p>To visit the site you will need to create a password <%= link_to "here", "http://" + @host_link + "/users/password/new" %>. You will receive an email when the password has been created. Then you can <%= link_to "sign in here", "http://" + @host_link + "/users/sign_in"  %> with your username (<%= @user.email %>) and the password you created.</p>

    	<p>Your permission level is <%= @user.role %> which means can view both public texts and individual drafts that you have been approved for.</p>

    	<p>You have been approved to view the following texts:</p>

			<table class="table table-striped table-hover">
				<% @user.access_points.each do |access_point| %>
					<tr>
						<% if access_point.itemid == "all" %>
							<td>All Texts</td>
						<% else %>
							<td><%= link_to access_point.itemid, "http://" + access_point.commentaryid + ".lomabardpress.org/text/" + access_point.itemid %></td>
						<% end %>
							<td>in <%= link_to "http://" + access_point.commentaryid + ".lomabardpress.org", "http://" + access_point.commentaryid + ".lomabardpress.org" %></td>
					</tr>
				<% end %>
			</table>


    <p>The site is still in development so there may be many problems. But I would love your feedback, ideas, and suggestions. If you have time to look at the site, please send your comments to <a href="mailto:jeffreycwitt.@gmail.com">jeffreycwitt@gmail.com</a>
      
      
  </body>
</html>