<div id="lbp-comments-list-container" class="container" >
	<% if params[:pid] = nil %>
		<h1>Comments for <%= @item.title %> %></h1>
	<% else %>
		<h1>Comments for <%= @item.title %>, paragraph <%= params[:pid] %></h1>
	<% end %>
		
	 

	<% unless @personal_comments.empty? %>
		<h1>My Private Notes</h1>
		<table class="table table-striped table-hover">
			<tbody>
			<% @personal_comments.each do |comment| %>
				<tr>
					<td><%= comment.created_at %></td>
					<td><p><%= comment.user.email %></p></td>
					<td style="width: 70%"><%= raw(comment.comment) %></td>
					<% if current_user.admin? || check_editor_access(current_user, params[:itemid], params[:commentaryid]) %>
						<td>
						<%= form_for(:comment, url: comment_path(comment), method: :delete) do |f| %>
								<%= f.hidden_field :itemid, value: params[:itemid] %>
								<%= f.submit "Delete" %>
							<% end %>
						</td>
					<% end %>
				</tr>
			<% end %>
			</tbody>
		</table>
	<% end %>
	<% unless @general_comments.empty? %>
		<h1>General Public Discussion Notes</h1>
		<table class="table table-striped table-hover">
			<tbody>
			<% @general_comments.each do |comment| %>
				<tr>
					<td><%= comment.created_at %></td>
					<td><p><%= comment.user.email %></p></td>
					<td style="width: 70%"><%= raw(comment.comment) %></td>
					<% if current_user.admin? || check_editor_access(current_user, params[:itemid], params[:commentaryid]) %>
						<td>
						<%= form_for(:comment, url: comment_path(comment), method: :delete) do |f| %>
								<%= f.hidden_field :itemid, value: params[:itemid] %>
								<%= f.submit "Delete" %>
							<% end %>
						</td>
					<% end %>
				</tr>
			<% end %>
			</tbody>
		</table>
	<% end %>
	<% if current_user.admin? || check_editor_access(current_user, params[:itemid], params[:commentaryid]) %>
		<% unless @editorial_comments.empty? %>
			<h1>Editorial Discussion</h1>
			<table class="table table-striped table-hover">
				<tbody>
				<% @editorial_comments.each do |comment| %>
					<tr>
						<td><%= comment.created_at %></td>
						<td><p><%= comment.user.email %></p></td>
						<td style="width: 70%"><%= raw(comment.comment) %></td>
						<td>
						<%= form_for(:comment, url: comment_path(comment), method: :delete) do |f| %>
								<%= f.hidden_field :itemid, value: params[:itemid] %>
								<%= f.submit "Delete" %>
							<% end %>
						</td>
						
					</tr>
				<% end %>
				</tbody>
			</table>
		<% end %>
	<% end %>
</div>

