
<div id="lbp-image-container" class="container">
	<div class="row">
		<div class="col-md-1" style="font: 10px">
			<p>Paragraph number X</p>
			<p>Witness: X</p>
			<p>Folio: x</p>
			<p>See also: x</p>
		</div>
		<div class="col-xs-12 col-md-7">
			<img src="http://res.cloudinary.com/djrre1fk1/image/upload/c_crop,x_<%= @paraimage.ulx %>,y_<%= @paraimage.uly %>,w_<%= @paraimage.width %>,h_<%= @paraimage.height %>,q_30/<%= @paraimage.url %>" alt="paragraphimg" class="msimage" id="order_reims_1" style="width: 100%">
		</div>
		<div class="col-xs-12 col-md-4">
			Text goes here
		</div>

	</div>
</div>