
<div id="lbp-image-container" class="container">
	<div class="container center" style="margin-bottom: 5px;">
		<span>Paragraph <%= @paragraph_number %>, witness <%= params[:msslug] %></span>
		<span style="margin-left: 20px;"> Select image: 
		<% @ms_slugs.each do |slug| %>
			<a href="<%= "/paragraphimage/#{params[:itemid]}/#{slug}/#{params[:pid]}" %>" class="js-show-alt-para-image" data-itemid="<%= params[:itemid] %>" data-pid="<%= params[:pid] %>" data-msslug="<%= slug %>" ><%= slug %></a> | 
		<% end %>
		</span>
		<span style="margin-left: 20px;"><% unless @next_para == nil  %>
			<% next_pid = @next_para.pid %>
			| <a href="<%= "/paragraphimage/#{params[:itemid]}/#{params[:msslug]}/#{next_pid}" %>" class="js-show-alt-para-image" data-itemid="<%= params[:itemid] %>" data-pid="<%= next_pid %>" data-msslug="<%= params[:msslug] %>">Next</a> |
		<% end %>	
		<% unless @previous_para == nil %>
			<% previous_pid = @previous_para.pid %> 
			<a href="<%= "/paragraphimage/#{params[:itemid]}/#{params[:msslug]}/#{previous_pid}" %>" class="js-show-alt-para-image" data-itemid="<%= params[:itemid] %>" data-pid="<%= previous_pid %>" data-msslug="<%= params[:msslug] %>">Previous</a> | 
		<% end %>	
		<span>
	</div>
	<div id="lbp-image-text-container" class="container">
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<% @para_images.each do |paraimage| %>
				<img src="http://res.cloudinary.com/djrre1fk1/image/upload/c_crop,x_<%= paraimage.ulx %>,y_<%= paraimage.uly %>,w_<%= paraimage.width %>,h_<%= paraimage.height %>,q_30/<%= paraimage.url %>" alt="paragraphimg" class="msimage" style="width: 100%">
				<% end %>
			</div>
			<div id="lbp-paragraph-ms-text" class="col-xs-12 col-md-6">
				
				<%= raw(@paragraph_text) %>
			</div>
		</div>
	</div>
</div>