<div class="container" style="margin-top: 100px; margin-bottom: 100px; width: 60%;">

	<div id="lbp-question-results" class="list-group">
    <style type="text/css">
    .lbp-question-search-result:hover {background-color: lightgray}
    </style>
    <%= render "filters" %>
    <% @results.each do |result| %>
        <div class="list-group-item lbp-question-search-result">

          <p><%= result[:qtitle] %></p>
          <div style="font-size: 12px; padding-left: 20px;">
            <% if result[:structure_type] == "http://scta.info/resource/structureItem" %>
            <p>
              <% if result[:resource_status] != "Not Started" %>
                <a href="/text/<%= result[:resource_short_id] %>">
                  <%= result[:resource_title] %>
              <% else %>
                <%= result[:resource_title] %>
              <% end %>
              </a>
            </p>
            <p><a href="/text/questions/<%= result[:author_short_id] %>"><%= result[:author_title] %></a> | <a href="/text/questions/<%=result[:toplevel_expression_short_id]%>"> <%= result[:toplevel_expression_title] %></a></p>

            <% elsif result[:structure_type] == "http://scta.info/resource/structureCollection" %>
            <p>
              <a href="/text/questions/<%= result[:resource_short_id] %>">
                <%= result[:resource_title] %>
              </a>
            </p>
            <p><a href="/text/questions/<%= result[:author_short_id] %>"><%= result[:author_title] %></a> | <a href="/text/questions/<%=result[:toplevel_expression_short_id]%>"> <%= result[:toplevel_expression_title] %></a></p>

            <% else %>
            <p>
              <% if result[:parent_item_status] != "Not Started" %>
                <a href="/text/<%= result[:parent_item_short_id] %>#<%= result[:resource_short_id] %>">
                  <%= result[:resource_title] %>
                </a>
                | part of <a href="/text/<%= result[:parent_item_short_id] %>"> <%= result[:parent_item_title] %>
                </a>
              <% else %>
                <%= result[:resource_title] %> | part of <%= result[:parent_item_title] %>
              <% end %>
            </p>
            <a href="/text/questions/<%= result[:parent_item_author_short_id] %>"><%= result[:parent_item_author_title] %> </a> | <a href="/text/questions/<%=result[:toplevel_expression_short_id]%>"> <%= result[:toplevel_expression_title] %></a></p>

          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
