<style type="text/css">
  .status{display: none;}
  .itemLink:hover .status{display: inline;}
</style>
<!-- TODO: need a global style for top of page headers -->
<div style="padding: 20px">
  <h1><%= @results[0][:expression_type_title] %></h1>
</div>
<div class="row container" style="margin: auto;">
  <div id="lbp-question-container" class="container col-md-8">
    <%= render "text/questions/question_filter_form" %>
    <% @expressions.each do |expression| %>
      <% expression_link = expression[:expression].to_s.split('/').last %>
    <h2><%= link_to "#{expression[:authorTitle]} | #{expression[:expressiontitle]}", "/#{expression_link}" %></h2>
    <table class="table table-striped table-hover">
      <% @results.each do |result| %>
        <% if result[:expression].to_s == expression[:expression].to_s %>
        <% link = "/text/" + result[:item].to_s.split('/').last %>
          <tr class="lbp-question-row">
            <td><%= link_to result[:itemTitle], link %></td>
            <td><%= result[:questionTitle] %></td>
          </tr>
        <% end %>
        <% end %>
      </table>
    <% end %>
  </div>
  <div class="col-md-4">
    <!-- search menu -->
      <div style="margin-bottom: 20px; padding-top: 10px;">
          <form  action="/search" method="get" >
          <div>
            <input id="expression-search-field" type="text" class="form-control" placeholder="<%= t(:search_text) %>" name="searchterm">
          <input type="hidden" class="form-control" name="expressiontypeid" value="<%= @resource.short_id %>"/>
          <input type="hidden" class="form-control" name="use" value="expressiontype"/>
        </div>
        <button type="submit" class="btn btn-primary btn-block" style="margin-top: 5px;">Search</button>
        </form>
    </div>
      <table class="table">
        <h1 class="center">About</h1>
        <tr>
          <td><%= @info[0][:description] %></td>
        </tr>
        <% if @info[0][:isPartOf] != nil %>
        <tr>
          <td>Is Part Of <%= link_to @info[0][:isPartOf].to_s.split("/").last.capitalize, "/#{@info[0][:isPartOf].to_s.split('/').last}" %> Expression Type</td>
        </tr>
        <% end %>
      </table>
      <!-- search menu -->

  </div>
</div>
