<style type="text/css">
  .status{display: none;}
  .itemLink:hover .status{display: inline;}
</style>
<div class="row container" style="margin: auto">
  <div class="col-md-12" style="padding: 20px">
      <h1><%= @resource.title %></h1>  
  </div>
  <div id="lbp-question-container" class="container-fluid col-md-12">
    <h1 class="center"><%= t(:toq) %></h1>
    <%= render "text/questions/question_filter_form" %>
    <table class="table table-striped table-hover">
    <% @results.each do |result| %>
      <% link = "/text/" + result[:item].to_s.split('/').last %>
      <tr class="lbp-question-row">
        <td><%= unless result[:status] == "Not Started" then link_to result[:title], link else result[:title]  end %></td>
        <td><%= unless result[:status] == "Not Started" || result[:questiontitle] == nil  then link_to result[:questiontitle], link else result[:questiontitle]  end %></td>
        <td><%= result[:status] %></td>
        <td>
          <% unless result[:status] == "Not Started" %>
            <img src="https://img.shields.io/wercker/ci/wercker/docs.svg"/>  
          <% else %>
            No Review
          <% end %>
        </td>
        <td><%= link_to "View on GitHub", result[:gitRepository].to_s %></td>
      </tr>

          
      <% end %>
    </table>
  </div>
</div>