<style type="text/css">
  .status{display: none;}
  .itemLink:hover .status{display: inline;}
</style>
<script>


</script>
<div class="row container" style="margin: auto;">

  <div class="col-md-8" style="padding: 20px">
      <h1><%= @resource.title %></h1>
  </div>
  <div class="col-md-4">
  <!-- this div left empty -->
  </div>

  <div id="lbp-question-container" class="container col-md-8">
    <h1 class="center"><%= t(:toq) %></h1>

    <%= render "text/questions/question_filter_form" %>

    <table class="table table-striped table-hover">
      <% @results.each do |result| %>
      <% link = "/text/" + result[:item].to_s.split('/').last %>
      <tr class="lbp-question-row">
        <td><%= unless result[:status] == "Not Started" then link_to result[:title], link else result[:title]  end %></td>
        <td class="lbp-question-title"><%= unless result[:status] == "Not Started" || result[:questiontitle] == nil  then link_to result[:questiontitle], link else result[:questiontitle]  end %></td>
        <td><%= result[:status] %></td>
        <% if result[:item].to_s.split('/').last == "lectio1" %>
          <td class="lbp-status" data-review-url="https://dll-review-registry.herokuapp.com/reviews/c9f73c2c-1c1f-4e91-abb5-2e08c961cb4a.json">
        <% elsif result[:item].to_s.split('/').last == "lectio2" %>
          <td class="lbp-status" data-review-url="https://dll-review-registry.herokuapp.com/reviews/e4fe60ea-d303-48ef-b4d6-4ff9b8368785.json">
        <% else %>
          <td class="lbp-status" >
            No Review
        <% end %>
        </td>
        <td><%= link_to "View on GitHub", result[:gitRepository].to_s %></td>
      </tr>


      <% end %>
    </table>
  </div>
  <div class="col-md-4">
    <!-- search menu -->
    <!-- 42 padding is to align contents in row. TODO: Should be a better way to creat this alignment -->
    <div style="margin-bottom: 20px; padding-top: 42px;">
        <form  action="/search" method="get" >
        <div>
          <input id="expression-search-field" type="text" class="form-control" placeholder="<%= t(:search_text) %>" name="searchterm">
          <input type="hidden" class="form-control" name="expressionid" value="<%= @resource.short_id %>"/>
        </div>
        <button type="submit" class="btn btn-primary btn-block" style="margin-top: 5px;">Search</button>
        </form>
        <a href="/index/<%= @resource.short_id %>"><button  type="submit" class="btn btn-info btn-block" style="margin-top: 5px;">Index</button></a>
    </div>
    <table class="table">
      <h1 class="center">About</h1>
      <tr>
        <td><%= @info[0][:description] %></td>
      </tr>
      <tr>
        <td>
          <div class="label-xs">
          <!-- IIIF Drag & Drop support -->
          <a id="IIIF-drag-and-drop" title="Drag & Drop this icon into Mirador" href="/default_target?collection=http://scta.info/iiif/<%= @resource.short_id %>/collection" style="padding: 0 5px">
          <img height="20" src="http://www.e-codices.unifr.ch/img/logo-iiif-34x30.png" alt="IIIF Drag-n-drop"/>
          </a>
          <a href="http://scta.info/iiif/<%= @resource.short_id %>/collection" title="Raw Json for collection" style="padding: 0 5px">IIIF Collection</a>
          <a target="_blank" class="btn btn-default btn-sm" title="View in Mirador Image Viewer" href="http://reactmirador.herokuapp.com/#<%= @resource.short_id %>" style="padding: 0 5px"><img alt="Mirador" src="http://www.e-codices.unifr.ch/mirador/mirador-logo.png">Open in Mirador</a>
          </div>
          <!-- TODO: the full collection URL should actually come directly from the database; and only display if a url is available -->
        </td>
      </tr>
      <tr>
        <td>Is Part Of <%= link_to @info[0][:isPartOf].to_s.split("/").last.capitalize, "/text/questions/#{@info[0][:isPartOf].to_s.split('/').last}" %> Work Group</td>
      </tr>
      <% @sponsors.each do |sponsor| %>
        <tr>
          <td>Supported by <%= link_to sponsor[:sponsorTitle], sponsor[:sponsorLink].to_s %> <img height="32px" src="<%= sponsor[:sponsorLogo].to_s %>"/></td>
        </tr>
      <% end %>
      <% if @questionEditor != nil %>
        <tr>
          <td>Question Listed edited by <%= @questionEditor %></td>
        </tr>
      <% end %>
      <% if @questionEncoder != nil %>
          <td>Question Listed encoded by <%= @questionEncoder %></td>
        </tr>
      <% end %>
    </table>

    <!-- articles menu -->
    <% if @articles.count > 0 %>
      <table class="table">
      <h1 class="center">Related Articles</h1>
      <% @articles.each do |article| %>
          <tr>
            <td><%= link_to  article[:articleTitle], show_article_path(article[:article].to_s.split("/").last) %></td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
</div>
