<% if @version_history.count > 0 %>
<div id="version-wrapper" class="alert alert-warning alert-dismissible" role="alert">
  <p id="version-wrapper-title">This Article Has Multiple Indexed Versions</p>
  <div id="version-list">
    <% @version_history.each do |result| %>

    <% if @current_order_number.to_s.to_i == result[:order_number].to_s.to_i + 1%>
    <p><%= @current_version_label %>
    <%= @current_review_state ? " (Peer Reviewed)" : nil %>
    (Currently Viewing)
  </p>
    <% end %>

    <p><a href="/articles/<%= result[:version_shortId] %>"><%= result[:version_label] %></a> <%= result[:review] ? " (Peer Reviewed)" : nil %></p></p>

    <% if @current_order_number.to_s.to_i == result[:order_number].to_s.to_i - 1%>
    <p><%= @current_version_label %>
    <%= @current_review_state ? " (Peer Reviewed)" : nil %>
    (Currently Viewing)</p>
    <% end %>
  </div>
<% end %>
</div>
<% end %>
<div id="lbp-article-text-body" class="container" style="padding-top: 20px;">

  <%= raw(@transform) %>


</div>
