<div id="lbp-footer" class="container" style="background-color: <%= @config.dark_color %>;">
	<div class="row">
		<% if @config.properties != nil %>
			<div class="col-xs-11 col-md-6 center">
		<% else %>
			<div class="col-xs-11 col-md-12 center">
		<% end %>
			<p class="lbp-footer-div-label">Powered by:</p>
			<div class="row">
				<div class="col-md-6">
			  	<p><%= link_to "LombardPress", "http://lombardpress.org" %></p>
			  	<p><%= link_to "The Sentences Commentary Text Archive", "http://scta.info" %></p>
		  	</div>
		  	<div class="col-md-6">
		  	<%= link_to image_tag("https://upload.wikimedia.org/wikipedia/commons/thumb/5/5b/Text_Encoding_InitiativeTEI_Logo.svg/2000px-Text_Encoding_InitiativeTEI_Logo.svg.png", class: "lbp-footer-logo-image"), "http://www.tei-c.org/index.xml", {target: "_blank", class: "lbp-footer-logo-link"}  %>
		  		<%= link_to image_tag("https://upload.wikimedia.org/wikipedia/commons/e/e8/International_Image_Interoperability_Framework_logo.png", class: "lbp-footer-logo-image"), "http://iiif.io", {target: "_blank", class: "lbp-footer-logo-link"}  %>
		  	</div>
		  </div>
  	</div>
  	<% if @config.properties != nil %>
  	<div class="col-xs-11 col-md-6 center" style="border-left: 1px dashed lightgray;">
  		<p class="lbp-footer-div-label">Supported by:</p>
  			<% @config.properties["partners"].each do |partner| %>
	  			<%= link_to image_tag(partner["logo"], class: "lbp-footer-logo-image"), partner["link"], {target: "_blank", class: "lbp-footer-logo-link"}  %>
	  		<% end %>
  	</div>
  	<% end %>
	</div>
</div>
