<div class="container">
	<h1>Setting</h1>
	<div id="#<%= @setting.commentaryid %>">
		<p><strong><%= @setting.commentaryid %></strong></p>
		<p><%= link_to "edit", edit_setting_path(@setting.id) %> </p>
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<td>Key</td>
					<td>Value</td>
				</tr>
			</thead>
			<tbody>
			<% @setting.attributes.each do |key, value| %>
				<tr>
					<td><%= key %></td>
					<td><%= value %></td>
				</tr>
			<% end %>
			</tbody>
		</table>
	</div>
</div>