<div class="container lbp-index-container">
		<h1>Quotations mentioned in this commentary</h1>
		<h2>Category: <%= params[:category] %></h2>
		<div class="lbp-index-breadcrumbs">
			<%= link_to "Back", :back %>
			<%= link_to "Return to Index", "/index" %>
		</div>
	<table class="table table-striped table-hover">
		<% @results.each do |result| %>
			<% quoteid = result[:quote].to_s.split("/").last %>
			<tr>
				<td><%= link_to result[:quoteTitle], "/index/quotes/show/#{quoteid}" %></td>
				<td><%= result[:quoteCitation] %></td>
				<td><%= link_to "SCTA Entry",  result[:quote].to_s %></td>
			</tr>
		<% end %>	
	</table>
</div>