<p id="notice"><%= notice %></p>

<h1>Listing Access Requests</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Itemid</th>
      <th>Commentaryid</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @access_requests.each do |access_request| %>
      <tr>
        <td><%= access_request.status %></td>
        <td><%= access_request.user.email %></td>
        <td><%= access_request.itemid %></td>
        <td><%= access_request.commentaryid %></td>
        <td><%= raw(access_request.note) %></td>
        <td><%= link_to 'Show', access_request %></td>
        <td><%= link_to 'Edit', edit_access_request_path(access_request) %></td>
        <td><%= link_to 'Destroy', access_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Access request', new_access_request_path %>
