
<div class="container center">
	<h1>Research Notes</h1>
	<p>
	  <strong>Title:</strong>
	  <%= @post.title %>
	</p>
	 
	<p>
	  <strong>Text:</strong>
	  <%= @post.body %>
	</p>
	<p>
	  <strong>Posted by:</strong>
	  <%= @post.user.email %>
	</p>
	<%= link_to 'All Posts', posts_path %>
	<% if user_signed_in? %>
		<% if current_user.admin? %>
			<%= link_to 'Edit', edit_post_path(@post) %>
			<%= link_to 'List', posts_list_path %>
		<% end %>
	<% end %>
	
</div>