{{!-- this is handlebars template for text info --}}

<div style="font-size: 12px;">
	<div>
	<h1>
		{{#if is_structure_block}}
			{{#if previous}}
				<small><a href="#" id="lbp-previous-paragraph" class="js-show-paragraph-info" data-pid="{{previous}}" data-itemid="{{itemid}}" data-view="variants">Previous</a></small>
			{{/if}}

			<a href="#" class="js-show-paragraph-info" data-pid="{{itemid}}" data-itemid="{{itemid}}" data-view="notes">Paragraph {{number}}</a>

			{{#if next}}
				<small><a href="#" id="lbp-next-paragraph" class="js-show-paragraph-info" data-pid="{{next}}" data-itemid="{{itemid}}" data-view="variants">Next</a></small>
			{{/if}}
		{{/if}}
	</h1>
	</div>
  <div id="lbp-how-to-cite">
		<h1>How to Cite</h1>
		<p style="font-weight: bold">Full Citation</p>
		<p>
			<span style="background-color: lightblue">Author,
			<em>Title</em>,
			Parts {{number}},
			SCTA Expression Url {{expression_url}}</span>;
			<span style="background-color: lightpink">ed. EditorName,
			SCTA Transcription Url {{expression_url}},
			Transcription Data Source {{dataSource}}</span>;
			<span style="background-color: lightgreen">Accessed at http://scta.lombardpress.org/text/{{itemid}} on {{date}},
			Archived at http://scta.lombardpress.org/archive?datasource={{dataSource}}</span>
		</p>
		<hr>
		<p style="font-weight: bold">Short Citation</p>
		<p>
			Author,
			<em>Title</em>,
			Parts {{number}}, {{dataSource}},  Accessed on {{date}}
		</p>
		<hr>
		<p style="font-weight: bold">Explanation of Citation Practices</p>
		<p>
			The citation of a text that has survived through a historical succession of
			manifestations is a complicated endeavor. Today, when transcriptions
		 	of these manifestations can be published as data, separate from any presentation,
			and thereby can be presented in a variety of ways,
			a full citation inevitably becomes even more complex.
			In order to identify both a specific dataset and the specific presentation of that data,
			specificity and precision are needed.</p>

			<p>Full citations identify three aspects of the text currently being viewed.</p>

			<p>First (<span style="background-color: lightblue">blue</span>) it identifies the idea of the paragraph in question situated within
			the conceptual hierarchy of the text.</p>

			<p>Second (<span style="background-color: lightpink">red</span>) it identifies the transcription data used to manifest the idea of this passage</p>

			<p>Third (<span style="background-color: lightgreen">green</span>) it identifies specific presentatin of the data source currently being viewed.</p>
		</p>
	</div>
</div>
