{{!-- this is handlebars template for text info --}}

<div style="font-size: 12px;">
<div>
<h1>Paragraph {{number}}</h1>
{{#if next}}
	<p><a href="#{{next}}">Next</a></p>
{{/if}}
{{#if previous}}
	<p><a href="#{{previous}}">Previous</a></p>
{{/if}}	
</div>
<div>
<h2>Paragraph Info</h2>
{{#if abbreviates}}
	{{#each abbreviates}}
		<p>Abbreviates <a href="{{this}}">{{this}}</a></p>
		<p style="padding-left: 20px"><a class="js-show-reference-paragraph" href="#" data-url="{{this}}">View Text</a><p>
	{{/each}}
{{/if}}
{{#if abbreviatedBy}}
	{{#each abbreviatedBy}}
		<p>Abbreviated By <a href="{{this}}">{{this}}</a></p>
		<p style="padding-left: 20px"><a class="js-show-reference-paragraph" href="#" data-url="{{this}}">View Text</a><p>
	{{/each}}
{{/if}}
{{#if references}}
	{{#each references}}
		<p>References <a href="{{this}}">{{this}}</a></p>
		<p style="padding-left: 20px"><a class="js-show-reference-paragraph" href="#" data-url="{{this}}">View Text</a><p>
		
	{{/each}}
{{/if}}
{{#if copies}}
	{{#each copies}}
		<p>Copies <a href="{{this}}">{{this}}</a></p>
	{{/each}}
{{/if}}
{{#if quotes}}
	{{#each quotes}}
		<p>Quotes <a href="{{this}}">{{this}}</a></p>
	{{/each}}
{{/if}}
{{#if mentions}}
	{{#each mentions}}
		<p>Mentions <a href="{{this}}">{{this}}</a></p>
	{{/each}}
{{/if}}
</div>
<div>
	<h2>Paragraph Statistics</h2>
	<p>Word Count: {{wordcount}}</p>
	<p>Word Frequency</p>
	<ul>
		{{#each wordfrequency}}
			<li>{{@key}}: {{this}}</li>
		{{/each}}
	</ul>
</div>
<div>
{{#if transcriptions}}
	<h2>Available Transcriptions</h2>
	{{#each transcriptions}}
		<p><a href="{{this}}">{{this}}</a></p>
	{{/each}}
{{/if}}

</div>
</div>