{{!-- this is handlebars template for text info --}}

<div style="font-size: 12px;">
	<div>
	<h1>
		{{#if is_structure_block}}
			{{#if previous}}
				<small><a href="#" id="lbp-previous-paragraph" class="js-show-paragraph-info" data-pid="{{previous}}" data-itemid="{{itemid}}" data-view="variants">Previous</a></small>
			{{/if}}

			<a href="#" class="js-show-paragraph-info" data-pid="{{pid}}" data-itemid="{{itemid}}" data-view="notes">Paragraph {{number}}</a>

			{{#if next}}
				<small><a href="#" id="lbp-next-paragraph" class="js-show-paragraph-info" data-pid="{{next}}" data-itemid="{{itemid}}" data-view="variants">Next</a></small>
			{{/if}}
		{{/if}}
	</h1>
	</div>
  <div id="lbp-variants">
	</div>
</div>
