<!DOCTYPE html>
<html>
<head>
  <title>Lombardpress2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render "layouts/header" %>
	<% flash.each do |key, value| %>
	<% @class = if key == "alert" then "alert-warning" else "alert-info" end %>
	<div class="alert <%= @class %> alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<%= value %></div>
	<% end %>


	<%= yield %>

<%= render "shared/footer" %>
<%= debug(params) if Rails.env.development? %>
<%= "User Loggied in: " + user_signed_in?.to_s if Rails.env.development? %>
<%= "id: " + current_user.id.to_s + " username/email: " + current_user.email + " role: " + current_user.role if Rails.env.development? && user_signed_in?%>

<% if current_user %>
	<script type="text/javascript">
	analytics.identify( "<%= current_user.id %>", {
	  email: "<%= current_user.email %>"
	});
	</script>
<% end %>

<% if params[:itemid] == "lectio1" %>
<!-- script for user testing by Julien A. Raemy
Library and Information Science Student at Haute Ecole de Gestion (HEG), Geneva, Switzerland. -->
<script type="text/javascript">var loop11_key ="65f3ca3b97f50e417e9a112279dc79c051b6832d";var l11_clientOptions ={"crossDomainSupport":true};document.write(unescape("%3cscriptsrc='//cdn.loop11.com/my/loop11.js'type='text/javascript'%3e%3c/script%3e"));</script>
<% end %>

</body>
</html>
